.flex {
	display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

tr td {
  border-bottom:1pt solid rgba(#fff, 0.6);
}

.header {
  opacity: $header-opacity;
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

/* touched animation */
.touched {
  animation: touched-success 1s ;
}
.touched-success {
  animation: touched-success 1s ;
}
.touched-error {
  animation: touched-error 1s ;
}

@keyframes touched-success {
  0% { color: #fff }
  50% { color: $spotify-green }
  100% { color: #fff }
}
@keyframes touched-error {
  0% { color: #fff }
  50% { color: $error }
  100% { color: #fff }
}

