.flex {
  display: flex;
}

.green {
  color: $spotify-green;
}

.sm-txt {
  font-size: $md;
}

@mixin no-list-style {
  ul {
    display: block;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
  }

  li {
    display: block;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

tr td {
  border-bottom: 1pt solid rgba(#fff, 0.6);
}

input[type='checkbox'] {
  min-width: 16px;
  min-height: 16px;
}

@mixin font-md {
  font-size: calc(10px + 2vmin);
}

@mixin font-sm {
  font-size: calc(10px + 1vmin);
}

@mixin font-xs {
  font-size: calc(10px + 0.5vmin);
}

.header {
  opacity: $header-opacity;
  text-transform: uppercase;
}

@mixin pointer {
  cursor: pointer;
}

.pointer {
  @include pointer;
}

.action {
  @include pointer;
}

/* touched animation */
.touched {
  animation: touched-success 1s;
}

.touched-success {
  animation: touched-success 1s;
}

.touched-error {
  animation: touched-error 1s;
}

.success {
  color: $spotify-green;
  border: 1px solid $spotify-green;
}

@keyframes touched-success {
  0% {
    color: #fff;
  }

  50% {
    color: $spotify-green;
  }

  100% {
    color: #fff;
  }
}

@keyframes touched-error {
  0% {
    color: #fff;
  }

  50% {
    color: $error;
  }

  100% {
    color: #fff;
  }
}

/* SfCheck */
.sfCheck {
  display: inline;
  margin: 0 $md;
  position: relative;
  width: $lg;
  height: $lg;
  text-align: center;

  .icon {
    position: absolute;
    opacity: 0.6;
    fill: none;
    stroke: white;
    width: $lg;
  }

  .sfCheck_tick {
    stroke: $spotify-green;
    opacity: 1;
  }

  .sfCheck_cross {
    opacity: 0;
  }
}

.sfCheck:hover {
  .sfCheck_tick {
    opacity: 0;
  }

  .sfCheck_cross {
    opacity: 1;
  }

  .sfCheck_plus {
    opacity: 1;
  }
}
// a input styled like spotify's web app
.s-input {
  display: flex;
  flex-direction: column;
  text-align: left;
  textarea,
  input {
    background: hsla(0, 0%, 100%, 0.1);
    border: 1px solid transparent;
    border-radius: 4px;
    color: $spotify-white;
    font-family: inherit;
    font-size: $md;
    height: 40px;
    padding: 0 12px;
  }
}
.s-submit {
  border: 2px;
  padding: 0 24px;
  height: 32px;
  background-color: $spotify-white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.76px;
  line-height: 18px;
  border-radius: 500px;
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
  white-space: nowrap;
  will-change: transform;
  outline: none;
  float: right;
  &:hover {
    transform: scale(1.06);
  }
}

// from spotify
// prettier-ignore
// a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, /* fieldset, */ figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
//   border: 0;
//   margin: 0;
//   padding: 0;
//   vertical-align: baseline;
// }
@mixin s-element {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
