$inactive: grey;
$success: blue;
$error: red;

// sizes
$xs: 3.5px;
$sm: 7px;
$md: 14px;
$lg: 21px;
$xl: 42px;

// https://developer.spotify.com/branding-guidelines;
$spotify-green: #1db954;
$spotify-white: #ffffff;
$spotify-grey: #222326;
$spotify-charcoal: #404040; // from picker

//from spotify (eg RECENTLY PLAYED)
$header-opacity: 0.6;
