

@mixin audio-buttons {
  display: flex;
  justify-content: space-between;
  margin: $md;

  .icon {
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba($spotify-white, 0.6 );
    color: rgba($spotify-white, 0.8 );
    padding: $sm;
  }
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: $md solid transparent;
    border-bottom: $md solid transparent;
    border-left: $lg solid transparent;
    border-left-color: $spotify-green;
  }
  .square {
    width: 0; 
    height: 0; 
    border: $md solid $spotify-white;
  }

  .touched {
    animation: touched-success 1s ;
  }
  .touched-success {
    animation: touched-success 1s ;
  }
  .touched-error {
    animation: touched-error 1s ;
  }
  
  @keyframes touched-success {
    0% { color: #fff }
    50% { color: #140 }
    100% { color: #fff }
  }
  @keyframes touched-error {
    0% { color: #fff }
    50% { color: $error }
    100% { color: #fff }
  }

}


@mixin seek {
  
}


.audio-controls {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(black, 0.9);

  padding: $lg;
  .audio-buttons {
    @include audio-buttons;
  }
  @include seek;

}
