.table-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.playlist-table {
  display: block;
  overflow-x: auto;
  thead {
    .table-average {
      text-align: center;
      font-size: $md;
    }
    th {
      padding: 0 $sm;
      margin-right: 23px;
      white-space: nowrap;
      &:not(.table-average) {
        cursor: pointer;
      }
      .ASC::after {
        height: 16px;
        padding-left: $sm;
        content: url('../images/chevron-ACS.svg');
      }
      .DESC::after {
        height: 16px;
        padding-left: $sm;
        content: url('../images/chevron-DESC.svg');
      }
    }
  }
}
