

@mixin audio-buttons {
  display: flex;
  justify-content: space-between;
  margin: $md;

  .icon {
    cursor: pointer;
    text-align: center;
    border: 1px solid rgba($spotify-white, 0.6 );
    color: rgba($spotify-white, 0.8 );
    padding: $sm;
  }
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: $md solid transparent;
    border-bottom: $md solid transparent;
    border-left: $lg solid transparent;
    border-left-color: $spotify-green;
  }
  .square {
    width: 0; 
    height: 0; 
    border: $md solid $spotify-white;
  }

}


@mixin seek {
  .seek {
    width: 100%;
  }
}
@mixin container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(black, 0.8);
  border-radius: $md;

  padding: $lg;
}

.with-results {
  border-radius: $md $md 0 0;
};

.player {
  @include container;
  height: 100%;
  justify-content: flex-start;
  .audio-controls {
    .audio-buttons {
      @include audio-buttons;
    }
    
    @include seek;
  }
  @import 'search-bar';

}


.results {
  @include container;
  min-width: 300px;
  border-radius: 0 0 $md $md;
  text-align: left;
  font-size: 0.9em;
}

.playlists {
  @include container;
  border-radius: 0 $md $md 0 ;
  text-align: left;
  .playlist__item {
    cursor: pointer;
    list-style: none;
    padding-bottom: $sm;
    font-weight: bolder;
  }
  .playlist__song {
    cursor: pointer;
    font-size: 0.8em;
  }
  .playlist__song:hover {
    color: $spotify-green
  }
  border: 1px solid rgba(white, 0.4);
  border-left-color: rgba(#fff, 0);
}
