.playlist-table {
  thead {
    .table-average {
      text-align: center;
      font-size: $md;
    }
    th {
      padding: 0 $sm;
      margin-right: 23px;
      white-space: nowrap;
      cursor: pointer;
      .ASC::after {
        padding-left: $sm;
        content: url('../images/chevron-ACS.svg');
      }
      .DESC::after {
        padding-left: $sm;
        content: url('../images/chevron-DESC.svg');
      }
    }
  }
}
