.user-playlists {
  min-width: 350px;
  @media (max-width: $bp-sm-min) {
    position: inherit;
    border: 1px solid lime;
  }
}
.s-kebab {
  // position: relative;

  .kebab-btn {
    background: transparent;
    border: 0;
    color: hsla(0, 0%, 100%, 0.6);
    padding: 0;
    cursor: pointer;

    svg {
      fill: currentcolor;
    }
  }

  .s-menu {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: $md;
    right: 0;
    left: 0;
  }
  .closed {
    visibility: hidden;
  }

  .open,
  .kebab-btn:hover ~ .s-menu,
  .s-menu:hover {
    visibility: visible;
  }
}

.s-menu {
  @include s-element;

  ul {
    background-color: $spotify-grey-menu;
    color: $spotify-white;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
    max-height: calc(100vh - 24px);
    width: 100%;
    max-width: 350px;
    min-width: 260px;
    overflow-y: auto;
    padding: 4px;
    li {
      @include s-element;
      button {
        @include s-element;
        cursor: pointer;
        background: transparent;
        border: 0;
        border-radius: 2px;
        text-decoration: none;

        gap: 8px;
        align-items: center;
        color: hsla(0, 0%, 100%, 0.9);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 40px;
        justify-content: space-between;
        padding: 12px;
        padding-inline-end: 8px;
        position: relative;
        text-align: start;

        user-select: none;
        width: 100%;
        &:hover {
          background-color: hsla(0, 0%, 100%, 0.1);
          color: #fff;
          text-decoration: none;
        }
        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        svg {
          transform: rotate(90deg);
          fill: currentcolor;
        }
      }
    }
  }
}
.highlight {
  color: $spotify-green;
}
