.DiscogsSearchResults {

  .row {
    display: flex;
    align-items: center;
    text-align: left;
    padding-bottom: 7px;
    p {
      margin: 0px;
    }

    img {
      max-height: 70px;max-width: 70px;
      margin-right: 14px;
    }
  }
}