@mixin dev {
  border: 2px yellow solid !important;
}
.song {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  .song__img {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 28px;

    border-radius: 28px;
    img {
      cursor: pointer;
      object-fit: cover;
      border-radius: 28px;
      // min-width: 140px; min-height: 140px;
      width: 70%;
      align-self: center;
    justify-self: center;  
      
    }
  }
  .song__info {
    // margin-right: 28px;
    /* @include dev;
    display: grid;
    width: 100%;
    grid-gap: 14px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 70px;
  
    grid-template-areas: 
    "artists ... ... "
    "label ... ..."
    "name name name"
    ". . ."
    ;
    // background-color: pink;
    .item {
      background-color: rgba(#140, 0.5);
    } */
    
  }
  .artists {
    grid-area: artists;
    background-color: rgba(#ddd, 0.5)!important;
  }
  .label {
    grid-area: label;
  }
  .name {
    grid-area: name;
    grid-row: 0 3;
    background-color: green;
    text-align: center;
    width: 100%;
    @include dev
  }
  .popularity {
    grid-area: popularity;
    div {
      display: flex;
      svg {
        width: 100%;
        max-height: 70px;
      }
    }
  }
  
  .album_name {
    grid-area: album_name;
  }
  .album_release_date {
    grid-area: album_release_date;
  }
  .album_md_img {
    grid-area: album_md_img;
  }
  .available_markets {
    grid-area: available_markets;
  }
  .disc_number {
    grid-area: disc_number;
  }
  .duration_ms {
    grid-area: duration_ms;
  }
  .explicit {
    grid-area: explicit;
  }
  .external_ids {
    grid-area: external_ids;
  }
  .external_urls {
    grid-area: external_urls;
  }
  .href {
    grid-area: href;
  }
  .id {
    grid-area: id;
  }
  .is_local {
    grid-area: is_local;
  }
  
  .preview_url {
    grid-area: preview_url;
  }
  .track_number {
    grid-area: track_number;
  }
  .type {
    grid-area: type;
  }
  .uri {
    grid-area: uri;
  }
  
  .album {
    grid-area: album;
    
  }
}