.App {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.page {
  display: grid;

  color: white;
  
  background-image: url(https://avatars3.githubusercontent.com/u/30609773?s=400&u=d7c90a1cd3515e74284b7a1119a4daee3249df7d&v=4)


}
