@import 'audio-controls';
@import 'discogs_search';

.App {
  text-align: center;
}
table {
  padding: 0 25%;
}
tr {
  color: white;
  padding: 7;
  display: flex;
  justify-content: space-between;
}
td {
  min-width: 28px;
  text-align: left;
  
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.page {
  // div {
  //   border: 1px solid #ddd
  // };
  min-height: 100vh;
  height:100% ;//width:
  padding: 0 21px;


  display: grid;
  grid-gap: 21px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 140px 70px ;
  grid-template-areas:
  "header header  header"
  "__    __     __"
  "sidebar content content";
  // "login paste paste"
  // "playlists songs songs"
  color: white;
  
  background-image: url(https://avatars3.githubusercontent.com/u/30609773?s=400&u=d7c90a1cd3515e74284b7a1119a4daee3249df7d&v=4)


}

@mixin g-a {
  background-color: rgba(black, 0.3);
  display: flex;
  flex-direction: column;
  div {
    // border: 1px solid #ddd
  };
}

@mixin pointer {
  cursor: pointer;
}
@mixin lists {
  list-style-type: square;
}

@mixin g-i {
  background-color: rgba(black, 0.4);
  div {
    border: 1px solid #320;
    // border-bottom-width: 0px;
  };
  margin-bottom: 7px;
}
.__ {
  grid-area: __;
  display: flex;
  align-items: center;
  margin-top:5px;
}
.header {
  @include g-a;
  grid-area: header;

  justify-content: space-between;
}
.sidebar {
  @include g-a;
  grid-area: sidebar;
  a:active {
    color: #fff;
  }
  a:visited {
    color: #ddd
  }
}
.content {
  @include g-a;
  grid-area: content;

}

/* SIDEBAR */
.login {
  @include g-i;

}
.playlists {
  @include g-i;
  .item {
    @include pointer;
    @include lists;
    text-align: left;
    color: #FFFEBF;

    margin-bottom: 7px;
  }
}
.keys {
  position: sticky;
  top: 14px;
  .SelectContainer{
    //...
  }
}
.react-select-container{
  div {
    border-width: 0px 
  }
  color: #880;
  .react-select__menu {
    background-color: rgba(black, 0.6);
  }
  .react-select__control {
    background-color: rgba(black, 0.5);;
  }
  .react-select__placeholder {
    border: 0px solid transparent;
    // border: 1px dashed white;
    margin-left: 35px;
  }
  .react-select__indicators {
    // border: 0px solid transparent;
    // background-color: rgba(white, 1);
    background-color: rgba(#320, 0.7);
    svg {
      fill: rgba(#320, 1);
      fill: rgba(white, 1);
    }
  }
  .react-select__input {
    text-align: left;
    padding-left:7px;
    min-width: 21px;
    color: #880;
    border: 0px solid transparent;
  }
}

/* main - CONTENT */
.paste {
  @include g-i;
}
.songs {
  @include g-i;
  h3 {

  }

  
  .song__info {

    
    
  }
  @import 'songs';
}




